extends layout 
block content
    .form-row 
    .col.form-group
      a(href="/vehicles/vehicleRegister") Add New Vehicle 
    .pull-right 
    a(href="/home") Finish
    .form-row
      .col.form-group.col-md-12
        .form-row
          table.table
            thead.thead-dark
              tr
                th Number Plate
                th Color
                th Time
                th Date
                th Make
                th Type
                th Package Of Wash
                th Assign To
            tbody
              if wash.length 
                each washes in wash
                    tr 
                      td #{washes.number_plate}
                      td #{washes.car_Color}
                      td #{washes.time}
                      td #{washes.date}
                      td #{washes.make_Vehicle}
                      td #{washes.type_Vehicle}
                      td #{washes.package}
                      td #{washes.assign_To}
                      td 
                        a(href='/vehicles/update/' + washes._id) Update
                      td 
                        form(method="post" action='/vehicles/delete')
                          input(type="hidden", placeholder="", name="id", value=washes._id)
                          button.btn.btn-dark.btn-block(type="submit") Delete
