extends layout 
block content
    .form-row 
    .col.form-group
      a(href="/washers/washerRegister") Add New Washer
    .pull-right 
    a(href="/home") Finish
    .form-row
      .col.form-group.col-md-12
        .form-row
          table.table
            thead.thead-dark
              tr
                th Washer Name
                th Gender
                th Date Of Birth
                th NIN
                th Residence
                th Work ID
                th 
                th 
            tbody
              if users.length 
                each user in users
                    tr 
                      td #{user.washer_name}
                      td #{user.gender}
                      td #{user.dob}
                      td #{user.nin}
                      td #{user.residence}
                      td #{user.work_Id}

                      td 
                        a(href='/washers/update/' + user._id) Update
                      td 
                        form(method="post" action='/washers/delete')
                          input(type="hidden", placeholder="", name="id", value=user._id)
                          button.btn.btn-dark.btn-block(type="submit") Delete
